body {
    margin: 0;
    padding: 0;
}

#trainers {
    display: flex;
    justify-content: space-evenly;

    width: 80vw;
    background-color: lightgray;
    margin: auto;
}

.card {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.card img {
    width: 80%;
}

.blue {
    background-color: lightskyblue;
}

.pink {
    background-color: lightpink;
}

.default {
    background-color: chartreuse;
}