body {
    margin: 0;
    padding: 0;
}

.carousel {
    width: 80vw;
    height: 80vh;
    margin: auto;

    margin-top: 4rem;
    
    position: relative;
}

.carousel img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 1rem;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

#prev, #next {
    position: absolute;
    top : 45%;
    background-color: rgba(0, 0, 0, 0.664);
    height: 10%;
    width: 3.5%;
    color : whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    font-weight: bold;
    font-size: x-large;
}

#prev:hover, #next:hover {
    background-color: rgba(245, 245, 245, 0.892);
    color : black;
}

#prev {
    left: 0;
    border-radius: 0 0.5rem 0.5rem 0;
}
#next {
    right: 0;
    border-radius:  0.5rem 0 0 0.5rem;
}

#dots {
    position: absolute;
    bottom : 0;
    left: 35%;
    background-color: rgba(0, 0, 0, 0.664);
    width: 30%;
    height: 8%;
    border-radius: 0.5rem 0.5rem 0 0;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.dot {
    height: 1rem;
    width: 1rem;
    background-color: rgba(245, 245, 245, 0.272);
    border-radius: 50%;
}

#dots:hover {
    background-color: rgba(245, 245, 245, 0.892);
    color : black;
}

#dots:hover .dot {
    background-color: rgba(0, 0, 0, 0.411);
}

.active-dot {
    background-color: whitesmoke;
}

#dots:hover .dot:hover {
    background-color: darkgoldenrod;
}

#dots:hover .active-dot {
    background-color: black;
}



