.back {
    width: 400px;
    height: 35px;

    background-color: lightskyblue;
    border-radius: 1rem;

    position: relative;
    text-align: end;
}

.front {
    position: absolute;
    
    background-color: lightpink;
    border-radius: 1rem;
    height: 100%;

    text-align: start;
}