* {
   margin: 0; 
   padding: 0;
}
body {
    width: 100vw;
}

.jour {
    background-color: lightgoldenrodyellow;
    color : darkorange;
}

.nuit {
    background-color: darkblue;
    color : lightgoldenrodyellow;
}

.megaPouet {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: lightpink;
}
.petitPouet {
    cursor: grab;
    position: absolute;
    width: 500px;
    height: 200px;
    background-color: lightgray;
}