body {
    padding: 0;
    margin: 0;
}

main {
    width: 80vw;
    margin: auto;
    background-color: rgb(252, 207, 207);
    padding: 1rem 2rem;
}

.exo {
    margin: auto;
    width: 90%;
    background-color: whitesmoke;
    padding: 0.5rem 1rem;
}

input[name="zipcode"]:invalid{
    background-color : red;
}