body {
    margin: 0;
    padding: 0;
}

.noel {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
}

.jaune {
    background-color: lightgoldenrodyellow;
    color : orange;
}

.bleu {
    background-color: lightblue;
    color : darkblue;
}

.rouge {
    background-color: tomato;
    color : lightgoldenrodyellow;
}

.vert {
    background-color: chartreuse;
    color : darkgreen;
}

.timer {
    width: 80vw;
    margin : auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 2rem;
}